<link rel="stylesheet" href="teachers.component.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="nav">
  <p class="school"> Szkoła Podstawowa </p>
</div>

<br>

<div class="example-form">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Wyszukaj Nauczyciela:</mat-label>
      <label>
        <input matInput placeholder="Adam Kruża">
      </label>
    </mat-form-field>
  </form>
</div>

<div>
  <table class="info">
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Więcej</th>
    <th> \/</th>
  </table>
</div>

<br>

<div>
  <table class="students">
    <th>Adam</th>
    <th>Kruża</th>
    <th>Adam Kruża</th>
    <th> \/</th>
  </table>
</div>
