<!--<form>-->
<!--  <label for="tresc">Treść:</label><br>-->
<!--  <input type="text" id="tresc" name="tresc"><br>-->
<!--  <label for="temat">Temat:</label><br>-->
<!--  <input type="text" id="temat" name="temat"><br><br>-->
<!--  <input type="submit" value="Wyślij">-->
<!--</form>-->

<!--<button mat-raised-button color="primary">Primary</button>-->

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>nadawca</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tresc</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
