<link rel="stylesheet" href="main.component.css">

<div class="nav">
  <p class="name"> Szkola Podstawowa </p>
</div>


<div class="menu">
  <button mat-stroked-button class="button"><mat-icon class="icon">face</mat-icon><br><br><br>Uczniowie</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">calendar_view_day</mat-icon><br><br><br>Plan lekcji</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">meeting_room</mat-icon><br><br><br>klasy</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">class</mat-icon><br><br><br>Oceny</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">people</mat-icon><br><br><br>Nauczyciele</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">message</mat-icon><br><br><br>Wiadomości</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">event_note</mat-icon><br><br><br>Terminarz</button>
  <button mat-stroked-button class="button"><mat-icon class="icon">notifications</mat-icon><br><br><br>Ogłoszenia</button>

<!--  <button type="button" class="button"> <img src="https://img.icons8.com/pastel-glyph/100/000000/student-male&#45;&#45;v2.png" alt="student"/> <br> Uczniowie</button>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/pastel-glyph/100/000000/school-bell.png" alt="school bell"/> <br> Plan lekcji</button>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/pastel-glyph/100/000000/classroom.png" alt="classroom"/> <br> Klasy</button>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/ios-glyphs/100/000000/exam.png" alt="exam"/> <br> Oceny</button><br>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/ios-glyphs/100/000000/training.png" alt="training"/> <br> Nauczyciele</button>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/ios-glyphs/100/000000/open-envelope.png" alt="envelope"/> <br> Wiadomosci</button>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/ios-glyphs/100/000000/calendar.png" alt="calendar"/> <br> Terminarz</button>-->
<!--  <button type="button" class="button"> <img src="https://img.icons8.com/ios-glyphs/100/000000/commercial.png" alt="commercial"/> <br> Ogloszenia</button>-->
</div>
