<div class="nav">
  <p class="school"> Szkoła Podstawowa </p>
</div>

<a routerLink="/stronaGlowna">
  <button mat-stroked-button class="main">Wróć do strony głównej</button>
</a>

<a routerLink="/ogloszenia">
  <button mat-raised-button class="button">Napisz ogłoszenie </button>
</a>

<div class="card" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
  <mat-card class="clap" *ngFor="let element of user" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
    <mat-card-header>
      <mat-card-title>Temat: {{element.name}}</mat-card-title>
      <mat-card-title>Data jako id: {{element.id}}</mat-card-title>
      <mat-card-title>Nadawca: {{element.email}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>Treść: {{element.body}} </mat-card-content>
  </mat-card>
</div>
