<div class="nav">
  <p class="school"> Szkoła Podstawowa </p>
</div>

<br>

<a routerLink="/wiado"><button mat-raised-button class="button">Wyślij Wiadomość </button></a>

<mat-form-field>
  <mat-label>Wyszukaj wiadomości:</mat-label>
  <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<a routerLink="/wiadomosci"><button mat-raised-button class="button">Wyślij Wiadomość</button></a>


<table mat-table [dataSource]="dataSource" >
  <ng-container matColumnDef="sender">
    <th mat-header-cell *matHeaderCellDef> nadawca </th>
    <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
  </ng-container>

  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef> temat </th>
    <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
