<link rel="stylesheet" href="students.component.css">

<div class="nav">
  <p class="school"> Szkola Podstawowa </p>
</div>

<br>

<div class="example-form">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Wyszukaj Ucznia:</mat-label>
      <label>
        <input matInput placeholder="Jan Nowak">
      </label>
    </mat-form-field>
  </form>
</div>

<div>
  <table class="info">
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Klasa</th>
    <th>Plan Lekcji</th>
  </table>
</div>
<br>
<div>
  <table class="students">
    <th>Jakub</th>
    <th>Piłat</th>
    <th>1A</th>
    <th>Plan Lekcji</th>
  </table>
</div>
