<link rel="stylesheet" href="plan.component.css">

<div class="nav">
  <p class="school"> Szkoła Podstawowa </p>
</div>

<br>
<a routerLink="/stronaGlowna"><button mat-stroked-button style="color: black; float: right">Wróć do strony głównej</button></a>
<br>

<mat-form-field>
  <mat-label>Wyszukaj plan</mat-label>
  <input matInput (keyup)="ClassFilter($event)" placeholder="1A" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef class="text"> Wyświetl Plan Klasy </th>
    <td mat-cell *matCellDef="let element"> {{element.class}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="text"> Zobacz Plan </th>
    <td mat-cell *matCellDef="let element"> <a mat-button routerLink="/plann" target="_blank" class="button">Zobacz plan klasy {{element.class}}</a> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Nie znaleziono planu klasy "{{input.value}}"</td>
  </tr>
</table>
