<link rel="stylesheet" href="plan.component.css">

<div class="nav">
  <p class="school"> Szkola Podstawowa </p>
</div>

<br>

<div class="example-form">
  <form>
    <mat-form-field class="example-full-width">
      <mat-label>Wyszukaj Klasę:</mat-label>
      <input matInput placeholder="1A">
    </mat-form-field>
  </form>
</div>

<div>
  <p class="plan">Wyświetl plan lekcji: </p>
</div>

<div>
  <table>
    <tr>
      <td>1A</td>
    </tr>
    <tr>
      <td>1B</td>
    </tr>
  </table>
</div>
